venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
.venv/
.vscode/
.idea/
*.log
.env
node_modules/
coverage/
coverage.xml
pip-log.txt
htmlcov/
dist/
build/
eggs/
*.egg-info/
*.egg
.pytest_cache/
